{% extends 'base.html' %}
{% block title %}Login {% endblock %}
{%block content %}
<form method="POST">
<div class="col-sm-6 ">
<div class="card  ">
    <div class="card-header bg-info"  >Login</div>
    <div class="card-body">
        {% csrf_token %}
        {{form.as_p}}
       
    </div>
    <div class="card-footer">
         <button type="submit" class="btn btn-primary " >Login</button>
         <div >
             <a class="link" href="{% url 'password_reset' %}" >Forgot Password?</a>
         </div>
    </div>
</form>
</div>
</div>

{% endblock %}